@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}
.maincontent {
    display: flex;
   
}

.mainheader {
    width: 100%;
    text-align: center;
}
.sidebar{
    
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid grey;
    padding: 10px;

}

.notepane {
    flex-grow: 2;
    border: 1px solid grey;
    padding: 10px;
    max-width: 66%;
}



.note {
    border: 1px solid grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.notefooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.folder {
    border: 1px solid grey;
    padding: 10px;
    padding-bottom: 60px;
    height: 20vh;
}

.folder:hover {
    background-color: darkgrey;
    cursor: pointer;
}

button {
    background-color: #fff;
    border: 1px solid grey;
    font-size: 16px;
    padding: 10px;
}

button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}



.content {
    width: 50%;
}

/* AddFolder Form */

.addFolderButton, .addNoteButton {
    width: 150px;
    margin-top: 10px;
    padding: 20px;
}

.AddFolder, .AddNote {
    width: 50%;
    margin: 0 auto;
}

.AddFolder__form, .AddNote__form {
    text-align: left;
}

.AddFolder__form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    width: calc(100% - 16px - 2px);
    padding: 5px 8px;
}

.AddNote__form input, textarea {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
    width: calc(100% - 16px - 2px);
    padding: 5px 8px;
}

.AddNote__form textarea {
    height: 150px;
}


.addFolderButtonSection button, .addNoteButtonSection button {
    margin-right: 5px;
}

.active {
    background-color: #95e4f4;
}